[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==10.0.0"
argon2-cffi = "==23.1.0"
whitenoise = "==6.6.0"
redis = "==5.0.1"
beautifulsoup4 = "==4.12.3"
celery = "==5.3.6"
django = "==4.2.7"
djangoql = "==0.17.1"
djangorestframework = "==3.14.0"
django-anymail = {extras = ["mailgun"], version = "==10.2"}
django-cors-headers = "==4.2.0"
django-environ = "==0.11.2"
django-filter = "==23.2"
django-model-utils = "==4.3.1"
django-simple-history = "==3.4.0"
django-storages = {extras = ["s3"], version = "==1.14.2"}
drf-nested-routers = "==0.93.4"
drf-spectacular = "==0.27.0"
requests = "==2.31.0"
openai = "==1.2.4"
pinecone-client = "==2.2.4"
pypdf2 = "==3.0.1"
tiktoken = "==0.5.2"
langchain = "==0.0.352"
langchain-experimental = "==0.0.40"
anyio = "<4.0.0" # Do not update: anyio<4.0 is REQUIRED by langchain
google-api-core = "==2.11.1"
google-auth = "==2.23.4"
google-cloud-core = "==2.3.3"
google-cloud-speech = "==2.21.0"
google-cloud-texttospeech = "==2.14.2"
google-cloud-translate = "==3.12.0"
googleapis-common-protos = "==1.60.0"
nltk = "==3.8.1"
gunicorn = "==21.2.0"
psycopg = {extras = ["c"], version = "==3.1.17"}
sentry-sdk = "==1.30.0"

[dev-packages]
ipdb = "==0.13.13"
flake8 = "==6.1.0"
flake8-isort = "==6.0.0"
coverage = "==7.4.1"
black = "==24.1.1"
pre-commit = "==3.6.0"
factory-boy = "==3.3.0"
django-debug-toolbar = "==4.2.0"
django-extensions = "==3.2.3"
psycopg = {extras = ["binary"], version = "==3.1.17"}

[requires]
python_version = "3.11"
