Dear {{ username }},
<br>
<br>
Your One Time Password (OTP) is <strong>{{ otp }}</strong>. Please use this OTP to reset your password.
<br>
You can also click on the link below to reset your password:
<br>
{{ reset_password_url|safe }}
<br>
<br>
If you did not request a password reset, please ignore this email. If you continue to receive such emails, please contact our support team at {{ support_email }} immediately.
<br>
Please note that the OTP and link will expire in 10 minutes. If expired, you can always request a new one from the login page.
<br>
<br>
Best regards,
<br>
Team OHC Network
